<?xml version="1.0" encoding="utf-8"?>
<!-- WARNING if you want to use android_install_frozen_version, do not use the shorthand notation (ex ".GpsTrailerService") or it will not work -->

    <!-- NOTE, below, sharedUserId enables the premium installation to tell the trial installation to give it its preferences -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igisw.openlocationtracker"
    android:sharedUserId="com.igisw.openlocationtracker"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required only when requesting background location access on
         Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"  />
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
	<!-- <uses-permission android:name="android.permission.GET_TASKS" />  --> 
    <!-- Required permission to use in-app billing. 
    <uses-permission android:name="com.android.vending.BILLING" />-->
    <!--  for lvl -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <!-- to get a  unique id 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="com.igisw.openlocationtracker.GpsTrailerReviewerApplication"
        android:icon="@drawable/icon_trial"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true">

	    <!-- <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/> -->

        <!--
	    <activity
	        android:name="com.rareventure.gps2.reviewer.map.OsmMapGpsTrailerReviewerMapActivity"
            android:label="@string/reviewer_app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name="com.igisw.openlocationtracker.OsmMapGpsTrailerReviewerMapActivity"
            android:label="@string/reviewer_app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name="org.acra.CrashReportDialog"
	        android:theme="@android:style/Theme.Dialog"
	        android:launchMode="singleInstance"
	        android:excludeFromRecents="true"
	        android:finishOnTaskLaunch="true" />
        <!--
            co: a local service might actually save memory, really
        <service
            android:name="com.rareventure.gps2.GpsTrailerService"
            android:exported="false"
            android:process=":remote" >
        -->
        <service
            android:exported="false"
            android:name="com.igisw.openlocationtracker.GpsTrailerService">
            <intent-filter>
                <action android:name="com.igisw.openlocationtracker.IGpsTrailerService" />
                <!--
                     This is an action code you can use to select the service
                     without explicitly supplying the implementation class.
                -->
                <action android:name="com.igisw.openlocationtracker.GPS_TRAILER" />
            </intent-filter>
        </service>

        <service android:name="com.igisw.openlocationtracker.JobSchedulerRestarterService"
            android:permission="android.permission.BIND_JOB_SERVICE" ></service>


       <receiver android:name="com.igisw.openlocationtracker.GpsTrailerReceiver"
           android:enabled = "true"
           android:exported = "true"
           android:label="RestartWhenStopped">

            <!--
            screen on and screen off intents will not fire from the manifest,
		    neither will media mount for external apps, so we use user_present et al
		    since that seems to be the only way to start our app if externally mounted
			<intent-filter>
				<action android:name="android.intent.action.SCREEN_ON" />
			</intent-filter><intent-filter>
				<action android:name="android.intent.action.SCREEN_OFF" />
			</intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.igisw.openlocationtracker.GpsTrailerReceiver" />
            </intent-filter>
            </receiver>

        <activity android:name="com.igisw.openlocationtracker.WelcomePage"
            android:screenOrientation="portrait" >
        </activity>
       <!-- TODO 3 portrait because the progress dialog screws up when switching orientations -->
        <activity android:name="com.igisw.openlocationtracker.ShouldHavePasswordPage" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.BatteryLifePage" android:screenOrientation="portrait"  >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.ConclusionPage" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.EnterNewPasswordPage" android:screenOrientation="portrait"  android:launchMode="singleTop">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.SettingsActivity" android:screenOrientation="portrait"
             android:launchMode="singleTop"
            >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.EnterPasswordActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.TurnOnGpsPage" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.HelpDeveloperPage" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.FullMediaGalleryActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.DbDoesntExistActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.TimmyCorruptActivity" android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity android:name="com.igisw.openlocationtracker.TrialExpiredActivity" android:screenOrientation="portrait" >
        </activity>
        -->
        <activity android:name="com.igisw.openlocationtracker.TimmyNeedsUpgradeActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.TimmyNeedsProcessingActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.FatalErrorActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.ViewImage" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.AboutScreen" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.ShowManual" >
        </activity>
        <activity android:name="com.igisw.openlocationtracker.ChooseColorsScreen"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.igisw.openlocationtracker.EnterFromDateToToDateActivity"  android:screenOrientation="portrait"  android:launchMode="singleTop">
        </activity>
        <!-- portrait because the progress dialog screws up when switching orientations -->
        <activity android:name="com.igisw.openlocationtracker.CreateGpxBackup"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
              >
        </activity>
        <!-- portrait because the progress dialog screws up when switching orientations -->
        <activity android:name="com.igisw.openlocationtracker.RestoreGpxBackup"
            android:screenOrientation="portrait" 
            android:launchMode="singleTask"
             >
        </activity>

        <!--
        <activity android:name="com.lamerman.FileDialog" >
        </activity>
        -->
        
    </application>

</manifest>
